*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #7fffd4;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

body h1::after{
    content: "This is Media Query Demo Page.";
}

@media(width < 1440px){
    body{
        background-color: rgb(32,139,33);
    }

    body p::after{
        content: "Screen Size : 1440px";
    }
}
@media(width < 1024px){
    body{
        background-color: #b1882f;
    }

    body p::after{
        content: "Screen Size : 1024px";
    }
}
@media(width < 768px){
    body{
        background-color: #75fbfc;
    }

    body p::after{
        content: "Screen Size : 768px";
    }
}
@media(width < 425px){
    body{
        background-color: #ca3141;
    }

    body p::after{
        content: "Screen Size : 425px";
    }
}